<%= render partial: "partials/header"  %>

<div class="image-pane main">
  
</div>
<div class="container top-pad big">
  <%= link_to "Go to the dashboard", dashboard_path, :class => "btn btn-lg btn-block" %>
</div>

<%= render partial: "partials/footer" %>
