<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a href="/">
          <div class="item">
            Formidably
          </div>
        </a>
          <div class="right">
            <% unless user_signed_in? %>
              <%= link_to new_user_session_path do %>
                <div class="item">Login</div>
              <% end %>
              <%= link_to new_user_registration_path do %>
                <div class="item">Sign up</div>
              <% end %>
            <% else %>
              <a href="/dashboard">
                <div class="item">Dashboard</div>
              </a>
              <a href="/dashboard/#/profile">
                <div class="item">Profile</div>
              </a>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <div class="item">Logout</div>
              <% end %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>