<div class="container top-pad big">
  <div class="row big-spaced">
    <h1 class="big-spaced centered">Work with Data</h1>
    <div class="col-sm-4 col-sm-offset-2 spaced">
      <a href="/dashboard/#/upload" class="btn btn-block btn-lg btn-primary">UPLOAD</a>
    </div>
    <div class="col-sm-4 spaced">
      <a href="/dashboard#/download" class="btn btn-block btn-lg btn-info">DOWNLOAD</a>
    </div>
  </div>
  <hr>
  <h1>Active jobs for <%= user.organization.name %></h1>
  <div id="jobs">
    <p class="centered">Loading jobs...</p>
  </div>
</div>